@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color:rgb(186, 111, 239);
}
html {
    box-sizing: border-box;
  }
  
.goback1{
    text-align: center;
}