@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin: 0;
    position: relative;
  }
  
  html {
    box-sizing: border-box;
    height: 100%;
    padding: 1.5px;
  }
  
  *, *:before, *:after {
   
  }
  .navigation-container{
    background-color: rgba(186, 111, 239) ;
    color: black;
    padding: 2.2rem;
    border-bottom-left-radius: 1rem;
    box-shadow: rgba(186, 111, 239);

  }
  .navigation-container .link{
    color: black;
  }

  .goback{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: inherit;
    text-align: center;
    }
    .list-item-inline {
      display: inline;
      padding: 0rem 0.5rem;
    }
    .link:hover {
      background-color: blue;
    }  
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 15px;
    padding: 50px 50px;
  }
  .navigation-container .nav-pills {
    text-align: right;
    margin: 0.6rem 1rem;
  }

  .card {
    box-shadow: 0 25px 28px 0 rgba(186, 111, 239);
    margin: 25px;
    padding: 25px 25px;
  }
  
  .about-section {
    box-shadow: 0 25px 28px 0 rgba(186, 111, 239);
    padding: 50px;
    text-align: center;
    background-color: rgb(186, 111, 239);
    color: black;
  }
  
  .container {
    background-color:white;
    text-align: center;
    padding: 0 10px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(186, 111, 239);;
  }
  
  .button {
    border: none;
    outline: 5;
    display: inline-block;
    padding: 12px;
    color: rgb(186, 111, 239);
    background-color: white;
    text-align: center;
    cursor: pointer;
    width: 200%;
  }
  
  .button:hover {
    background-color: blue;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .footer {
    background-color:rgba(186, 111, 239) ;
    padding: 5em ;
    text-align:center;
    color: black;
    border-top-right-radius: 1rem;
    box-sizing: border-box;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 0px;
    box-shadow: 0 25px 28px 0 rgba(186, 111, 239);
  }
  .footer .link {
    color: black;
  }
  .link:hover {
    background-color: blue;
  }

  
  .footer .footer-header {
    font-weight: bold;
    font-size: large;
  }
  