@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #ba6fef ;
    box-shadow: 0 20px 20px 0 #ba6fef;
    padding: 5px;
    box-shadow: 0 25px 28px 0 rgba(186, 111, 239);
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }
  
.navigation {
    background-color: var(white);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0 25px 28px 0 rgba(186, 111, 239);
    }
  
  .navigation .nav-brand {
    font-weight: bold;
  }
  
  .nav-brand a {
    text-decoration: none;
    color: inherit;
  }
  
  .navigation .nav-pills {
    text-align: right;
    margin: 0.6rem 1rem;
  }
  
  .navigation .link {
    color: black;
  }
  
  .navigation .link-active {
    font-weight: bold;
  }

html {
    box-sizing: border-box;
    height: 120%;
    
}

.goback1 {
    text-align: center;
}

/** Contact details bar **/

.block {
    padding: 3% ;
    text-align: center;
    background-color: white;
    color: black; 
    box-shadow: 0 25px 28px 0 rgba(186, 111, 239);
  }

  /** footer **/

  footer {
    background-color: var(--primary-color);
    padding: 1.2rem 1rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
  }
  
  .footer .link {
    color: black;
    box-shadow: 0 25px 20px 0 rgba(186, 111, 239);
  }
  
  .footer .footer-header {
    font-weight: bold;
    font-size: large;
    box-shadow: 0 25px 20px 0 rgba(186, 111, 239);
  }
  
  .footer ul {
    padding-inline-start: 15px;
    
  }
  