@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }
  .navigation-container{
    background-color: rgba(186, 111, 239) ;
    color: black;
    padding: 2.2rem;
    border-bottom-left-radius: 1rem;
    box-shadow: rgba(186, 111, 239);

  }
  
  .navigation-container .nav-pills {
    text-align: right;
    margin: 0.3rem 1rem;
  }
  
  .navigation-container .link {
    color: black;
  }
  
  .navigation-container .link-active {
    font-weight: bold;
    font-size: large;
  }
html {
    box-sizing: border-box;
    height: 100%;
    padding: 1.5px;
}

/** Contact details bar **/

.block {
    padding: 5% ;
    text-align: center;
    background-color: white;
    width: 100%;
    color: black; 
  }

  /** footer **/

  footer {
    background-color:rgba(186, 111, 239) ;
    padding: 6em ;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    box-sizing: border-box;
    position: absolute;
    margin: 5px 0px 5px 5px;
    width: 100%;
    height: 15px;
    box-shadow: 0 25px 28px 0 rgba(186, 111, 239);
  }
  
  .footer .link {
    color: black;
  }
  .link:hover {
    background-color: blue;
  }

  
  .footer .footer-header {
    font-weight: bold;
    font-size: large;
  }
