@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: url("images/back.jpeg");
    background-image: fixed;
}

html {
  box-sizing: border-box;
  padding: 1.5px;
}
.list-item-inline {
    display: inline;
    padding: 0rem 0.75rem;
  }
  .navigation-container{
    background-color: #816797;;
    color: black;
    padding: 1.3rem;
    box-shadow: 0 0 35px 0 rgba(186, 111, 239);

  }
  
  .navigation-container .nav-pills {
    text-align: right;
    margin: 0.3rem 1rem;
  }
  
  .navigation-container .link {
    color: black;
  }
  
  .navigation-container .link-active {
    font-weight: bold;
    font-size: large;
  }


/** Contact details bar **/

.block {
  margin-top: 3.45em;
    text-align: center;
    width: 100%;
    color: black; 
  
  }

  /** footer **/

  footer {
    background-color: #816797;
    padding: 0.75em ;
    text-align: center;
    color: black;
    margin: 1cm 0cm 0cm 0cm;
    box-sizing: border-box;
    box-shadow: 28px 0 0 0 rgba(186, 111, 239);
  }
  
  .footer .link {
    color: black;
  }
  .link:hover {
    background-color: white;
  }
  .footer .footer-header {
    font-weight: bold;
    font-size: large;
  }