@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    background-color: white;
    box-shadow: 0 20px 20px 0 rgba(186,111,239);
    padding: 5px;
}

html {
    box-sizing: border-box;
}

.goback1 {
    text-align: center;
}
.block {
    padding: 3% ;
    text-align: center;
    background-color: rgb(186, 111, 239);
    color: black;
    
  }